.custom_carousel-caption {
    text-shadow: 0px 4px 4px var(--orange);
}

.custom_promotion {
    background-color: var(--dark);
    color: #fff;
    font-weight: bold;
}

.custom_promotion span {
    animation: promotion 1s infinite;
}

.custom_button-shop {
    background-color: var(--orange);
    color: var(--white);
}

.custom_button-shop:hover {
    background-color: var(--brown);
    color: #fff;
}

.custom_button-cart {
    border: 2px solid var(--orange);
    color: var(--orange);
}

.custom_button-cart:hover {
    border-color: var(--brown);
    color: var(--brown);
}

@keyframes promotion {

    0%,
    100% {
        color: var(--white);
    }

    50% {
        color: var(--yellow);
    }
}