:root {
    --white: #fff;
    --yellow: #F6C145;
    --orange: #e48010;
    --brown: #5A4136;
    --dark: #1B2427;
}

/* ________________________ */



.custom_navbar {
    background-color: var(--white);
    box-shadow: 0 -10px 20px var(--dark);
}

.custom_navbar a:hover {
    color: var(--yellow);
}

footer img {
    width: 100px;
}

.custom_footer {
    box-shadow: 0 10px 20px var(--dark);
}

.custom_productCard button {
    color: var(--orange);
    font-weight: bold;
}

.custom_productCard button:hover {
    color: var(--white);
    background-color: var(--orange);
}

.custom_section {
    padding: 0;
    border-top: 6px solid var(--dark);
}

.custom_section-header {
    padding: 0 16px 8px 16px;
    border: 0;
    margin-bottom: 16px;
    display: inline-block;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    color: var(--white);
    background-color: var(--dark);
}